html
	head
		title Home - Welcome
		link(rel='favicon' href='../img/apple.ico')
		meta(charset='utf-8')
		meta(name='viewport' content='width-device-width')
		meta(name='keywords' content='web design')
		meta(name='author' content='NoerGitKat')
	body
		header
			.container
