html
	head
		title Home - Services
		link(rel='shortcut icon' href='../img/favicon.ico' type='image/x-con')
		meta(charset='utf-8')
		meta(name='viewport' content='width-device-width')
		meta(name='keywords' content='web design')
		meta(name='author' content='NoerGitKat')
		link(rel='stylesheet' href='../css/style.css')
		link(rel="stylesheet" href="../css/services.css")
	body
		header
			.container
				#branding
					h1 
						a(href='/')
							span.highlight So Wow 
							|Web Design
				nav
					ul
						li
							a(href='/') Home
						li
							a(href='/about') About
						li.current
							a(href='/services') Services

		main
			.leftside
				h1 Services
				ul#services
					li 
						h3 Web Design
						p Top of the line and ages like wine. Our Web Design makes people lose their mind!
						p Price: 10 Donuts for 1 Wow-Worthy Web Design&copy;
					li
						h3 On-Demand Service
						p Like a genie in a bottle, we are just one rub away.
						p Price: 1 magic mantra
					li
						h3 Monthly Maintenance
						p If it ain't broken, we'll cause something that is. And then we fix it. For a small fee. 
						p Price: Your soul. 
			.dark
				form(method="GET" action="/")
					h2 Send us a message!
					h4 Name:
					input(type="text" name="name" maxlength="40" placeholder="Your name..." required)
					h4 Email:
					input(type="email" name="email" maxlength="40" placeholder="Your email..." required)
					h4 Message:
					textarea(name="message" maxlength="300" placeholder="Your nice message..." required)
					br
					br
					input.button(type="submit" name="submit" value="SUBMIT")

		footer
			h4 2017 &copy; So Wow Inc. All Rights Reserved.